{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <h1>Bataille Navale !</h1>

    <hr>

    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table>
        {% for i in 0..9 %}
            <tr>
                {% for j in 0..9 %}
                    <td>
                        {% if game[i][j] is defined and game[i][j].hasBeenBombed %}
                            {% if game[i][j].boat is not null %}
                                T
                            {% else %}
                                X
                            {% endif %}
                        {% else %}
                            
                        
                        <a href='{{ path("bomb_boat", {x: i, y: j}) }}'>
                            <button>B</button>
                        </a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
